<!DOCTYPE html>
<html>
  <head>
    <title>CooLinks</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= favicon_link_tag('link.ico') %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application'%>
  </head>

  <body>
    <div class="header">
      <a href="/" class="links">
        リンク一覧
      </a>
      <div>CooLinks</div>
      <a href="/links/new" class="new">
        リンクを作成する
      </a>
    </div>
    <%= yield %>
  </body>
</html>